@import url('https://fonts.cdnfonts.com/css/galada');

body {
    background-color: #f5ecec !important;
}

.center {
    width: 900px;
    margin: auto;
}

.ind-but {
    background-color: #000;
}

.button-a {
    text-decoration: none;
    color: #fff;
}

.fff {
    font-family: cursive;
    font-size: 3em !important;
}

input {
    border: 1px solid #000 !important;
}

select {
    border: 1px solid #000 !important;
}
textarea {
    border: 1px solid #000 !important;
}

label {
    font-size: 1.3em;
}

/* Dashboard Style */
.dashboard-font {
    font-family: cursive;
    text-align: center;
    font-size: 3rem;
}
